<<<<<<< HEAD
﻿<h1>
    @ViewBag.CheckoutCompleteMessage
</h1>
=======
﻿
@{
    ViewData["Title"] = "CheckoutComplete";
}

    <h1> @ViewBag.CheckoutCompleteMessage</h1>

>>>>>>> f59acac8d55b8772f369c689cbacb105318e8a3a
